@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}
h2
{
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    padding-top: 30px;
}
body {
  background-color: hsl(0, 0%, 95%);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content{
    display: flex;
    width: 50rem;
    height: min(60%, 40rem);
}
.car_1, .car_2, .car_3{
    padding: 40px;
    align-content: center;
}
.car_1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}
.car_2{
  background-color: hsl(184, 100%, 22%);
}

.car_3{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.8rem;
  line-height: 1.7;
  max-width: 50ch;
  padding-top: 30px;
}
.button_1, .button_2, .button_3{
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  position: relative;
  top: 20%;
}
.button_1{
  color:hsl(31, 77%, 52%);
}
.button_2{
  color: hsl(184, 100%, 22%);
}
.button_3{
  color: hsl(179, 100%, 13%);
}
.button_1:hover{
  color: white;
  background-color: hsl(31, 77%, 52%);
  border: solid white 1px;
}
.button_2:hover{
  color: white;
  background-color: hsl(179, 100%, 13%);
  border: solid white 1px;
}
.button_3:hover{
  color: white;
  background-color: hsl(179, 100%, 13%);
  border: solid white 1px;
}
@media only screen and (max-width: 810px){
  .container{
    height:100%;
  }
  .content{
    display: grid;
    width: 80vw;
    place-items: center;
    position: relative;
    height: auto;
    margin: 20px 0;
  }
  p{
    padding-bottom: 1.6rem;
  }
  .car_1{
    border-radius: 10px 10px 0 0;
  }
  .car_3{
    border-radius: 0 0 10px 10px;
  }
}